$main-overflow: hidden !default;
$section-padding-desktop: 2rem 0 !default;
$section-padding-mobile: 1rem 0 !default;

main { overflow: $main-overflow; }

section {
  padding: $section-padding-mobile;

  @include breakpoint('large') {
    padding: $section-padding-desktop;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  &.no-style { list-style-type: none; }
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
